libs/converter/biodom/resources/xsd/convertedFromDTDsAndBrokenSchemas/INSDSeqXML_hobit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ============================================
  ::DATATOOL:: Generated from "insdseq.asn"
  ::DATATOOL:: by application DATATOOL version 1.5.0
  ::DATATOOL:: on 06/06/2006 23:03:48
  ============================================
-->
<!--
  INSD_INSDSeq.dtd
  This file is built from a series of basic modules.
  The actual ELEMENT and ENTITY declarations are in the modules.
  This file is used to put them together.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- ============================================ -->
<!--
  This section is mapped from module "INSD-INSDSeq"
  =================================================
-->
<!--
  $Revision: 1.1 $
  ************************************************************************
  
   ASN.1 and XML for the components of a GenBank/EMBL/DDBJ sequence record
   The International Nucleotide Sequence Database (INSD) collaboration
   Version 1.4, 19 September 2005
  
  ************************************************************************
    INSDSeq provides the elements of a sequence as presented in the
      GenBank/EMBL/DDBJ-style flatfile formats, with a small amount of
      additional structure.
      Although this single perspective of the three flatfile formats
      provides a useful simplification, it hides to some extent the
      details of the actual data underlying those formats. Nevertheless,
      the XML version of INSD-Seq is being provided with
      the hopes that it will prove useful to those who bulk-process
      sequence data at the flatfile-format level of detail. Further 
      documentation regarding the content and conventions of those formats 
      can be found at:
  
      URLs for the DDBJ, EMBL, and GenBank Feature Table Document:
      http://www.ddbj.nig.ac.jp/FT/full_index.html
      http://www.ebi.ac.uk/embl/Documentation/FT_definitions/feature_table.html
      http://www.ncbi.nlm.nih.gov/projects/collab/FT/index.html
  
      URLs for DDBJ, EMBL, and GenBank Release Notes :
      ftp://ftp.ddbj.nig.ac.jp/database/ddbj/ddbjrel.txt
      http://www.ebi.ac.uk/embl/Documentation/Release_notes/current/relnotes.html
      ftp://ftp.ncbi.nih.gov/genbank/gbrel.txt
  
      Because INSDSeq is a compromise, a number of pragmatic decisions have
      been made:
  
    In pursuit of simplicity and familiarity a number of fields do not
      have full substructure defined here where there is already a
      standard flatfile format string. For example:
  
     Dates:      DD-MON-YYYY (eg 10-JUN-2003)
  
     Author:     LastName, Initials  (eg Smith, J.N.)
              or Lastname Initials   (eg Smith J.N.)
  
     Journal:    JournalName Volume (issue), page-range (year)
              or JournalName Volume(issue):page-range(year)
              eg Appl. Environ. Microbiol. 61 (4), 1646-1648 (1995)
                 Appl. Environ. Microbiol. 61(4):1646-1648(1995).
  
    FeatureLocations are representated as in the flatfile feature table,
      but FeatureIntervals may also be provided as a convenience
  
    FeatureQualifiers are represented as in the flatfile feature table.
  
    Primary has a string that represents a table to construct
      a third party (TPA) sequence.
  
    other-seqids can have strings with the "vertical bar format" sequence
      identifiers used in BLAST for example, when they are non-INSD types.
  
    Currently in flatfile format you only see Accession numbers, but there 
      are others, like patents, submitter clone names, etc which will 
      appear here
  
    There are also a number of elements that could have been more exactly
      specified, but in the interest of simplicity have been simply left as
      optional. For example:
  
    All publicly accessible sequence records in INSDSeq format will
      include accession and accession.version. However, these elements are 
      optional in optional in INSDSeq so that this format can also be used   
      for non-public sequence data, prior to the assignment of accessions and 
      version numbers. In such cases, records will have only "other-seqids".
  
    sequences will normally all have "sequence" filled in. But contig records
      will have a "join" statement in the "contig" slot, and no "sequence".
      We also may consider a retrieval option with no sequence of any kind
      and no feature table to quickly check minimal values.
  
    Four (optional) elements are specific to records represented via the EMBL
      sequence database: INSDSeq_update-release, INSDSeq_create-release,
      INSDSeq_entry-version, and INSDSeq_database-reference.
  
    One (optional) element is specific to records originating at the GenBank
      and DDBJ sequence databases: INSDSeq_segment.
  
  ********
-->
  <xs:element name="INSDSeq">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="INSDSeq_locus"/>
        <xs:element ref="INSDSeq_length"/>
        <xs:element minOccurs="0" ref="INSDSeq_strandedness"/>
        <xs:element ref="INSDSeq_moltype"/>
        <xs:element minOccurs="0" ref="INSDSeq_topology"/>
        <xs:element ref="INSDSeq_division"/>
        <xs:element ref="INSDSeq_update-date"/>
        <xs:element minOccurs="0" ref="INSDSeq_create-date"/>
        <xs:element minOccurs="0" ref="INSDSeq_update-release"/>
        <xs:element minOccurs="0" ref="INSDSeq_create-release"/>
        <xs:element ref="INSDSeq_definition"/>
        <xs:element minOccurs="0" ref="INSDSeq_primary-accession"/>
        <xs:element minOccurs="0" ref="INSDSeq_entry-version"/>
        <xs:element minOccurs="0" ref="INSDSeq_accession-version"/>
        <xs:element minOccurs="0" ref="INSDSeq_other-seqids"/>
        <xs:element minOccurs="0" ref="INSDSeq_secondary-accessions"/>
        <xs:element minOccurs="0" ref="INSDSeq_project"/>
        <xs:element minOccurs="0" ref="INSDSeq_keywords"/>
        <xs:element minOccurs="0" ref="INSDSeq_segment"/>
        <xs:element minOccurs="0" ref="INSDSeq_source"/>
        <xs:element minOccurs="0" ref="INSDSeq_organism"/>
        <xs:element minOccurs="0" ref="INSDSeq_taxonomy"/>
        <xs:element minOccurs="0" ref="INSDSeq_references"/>
        <xs:element minOccurs="0" ref="INSDSeq_comment"/>
        <xs:element minOccurs="0" ref="INSDSeq_primary"/>
        <xs:element minOccurs="0" ref="INSDSeq_source-db"/>
        <xs:element minOccurs="0" ref="INSDSeq_database-reference"/>
        <xs:element minOccurs="0" ref="INSDSeq_feature-table"/>
        <xs:element minOccurs="0" ref="INSDSeq_sequence"/>
        <xs:element minOccurs="0" ref="INSDSeq_contig"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSDSeq_locus" type="xs:string"/>
  <xs:element name="INSDSeq_length" type="xs:string"/>
  <xs:element name="INSDSeq_strandedness" type="xs:string"/>
  <xs:element name="INSDSeq_moltype" type="xs:string"/>
  <xs:element name="INSDSeq_topology" type="xs:string"/>
  <xs:element name="INSDSeq_division" type="xs:string"/>
  <xs:element name="INSDSeq_update-date" type="xs:string"/>
  <xs:element name="INSDSeq_create-date" type="xs:string"/>
  <xs:element name="INSDSeq_update-release" type="xs:string"/>
  <xs:element name="INSDSeq_create-release" type="xs:string"/>
  <xs:element name="INSDSeq_definition" type="xs:string"/>
  <xs:element name="INSDSeq_primary-accession" type="xs:string"/>
  <xs:element name="INSDSeq_entry-version" type="xs:string"/>
  <xs:element name="INSDSeq_accession-version" type="xs:string"/>
  <xs:element name="INSDSeq_other-seqids">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="INSDSeqid"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSDSeq_secondary-accessions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="INSDSecondary-accn"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSDSeq_project" type="xs:string"/>
  <xs:element name="INSDSeq_keywords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="INSDKeyword"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSDSeq_segment" type="xs:string"/>
  <xs:element name="INSDSeq_source" type="xs:string"/>
  <xs:element name="INSDSeq_organism" type="xs:string"/>
  <xs:element name="INSDSeq_taxonomy" type="xs:string"/>
  <xs:element name="INSDSeq_references">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="INSDReference"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSDSeq_comment" type="xs:string"/>
  <xs:element name="INSDSeq_primary" type="xs:string"/>
  <xs:element name="INSDSeq_source-db" type="xs:string"/>
  <xs:element name="INSDSeq_database-reference" type="xs:string"/>
  <xs:element name="INSDSeq_feature-table">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="INSDFeature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSDSeq_sequence" type="xs:string"/>
  <!-- Optional for other dump forms -->
  <xs:element name="INSDSeq_contig" type="xs:string"/>
  <xs:element name="INSDSeqid" type="xs:string"/>
  <xs:element name="INSDSecondary-accn" type="xs:string"/>
  <xs:element name="INSDKeyword" type="xs:string"/>
  <xs:element name="INSDReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="INSDReference_reference"/>
        <xs:element minOccurs="0" ref="INSDReference_position"/>
        <xs:element minOccurs="0" ref="INSDReference_authors"/>
        <xs:element minOccurs="0" ref="INSDReference_consortium"/>
        <xs:element minOccurs="0" ref="INSDReference_title"/>
        <xs:element ref="INSDReference_journal"/>
        <xs:element minOccurs="0" ref="INSDReference_xref"/>
        <xs:element minOccurs="0" ref="INSDReference_pubmed"/>
        <xs:element minOccurs="0" ref="INSDReference_remark"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSDReference_reference" type="xs:string"/>
  <xs:element name="INSDReference_position" type="xs:string"/>
  <xs:element name="INSDReference_authors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="INSDAuthor"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSDReference_consortium" type="xs:string"/>
  <xs:element name="INSDReference_title" type="xs:string"/>
  <xs:element name="INSDReference_journal" type="xs:string"/>
  <xs:element name="INSDReference_xref">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="INSDXref"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSDReference_pubmed" type="xs:string"/>
  <xs:element name="INSDReference_remark" type="xs:string"/>
  <xs:element name="INSDAuthor" type="xs:string"/>
  <xs:element name="INSDXref">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="INSDXref_dbname"/>
        <xs:element ref="INSDXref_id"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSDXref_dbname" type="xs:string"/>
  <xs:element name="INSDXref_id" type="xs:string"/>
  <xs:element name="INSDFeature">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="INSDFeature_key"/>
        <xs:element ref="INSDFeature_location"/>
        <xs:element minOccurs="0" ref="INSDFeature_intervals"/>
        <xs:element minOccurs="0" ref="INSDFeature_operator"/>
        <xs:element minOccurs="0" ref="INSDFeature_partial5"/>
        <xs:element minOccurs="0" ref="INSDFeature_partial3"/>
        <xs:element minOccurs="0" ref="INSDFeature_quals"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSDFeature_key" type="xs:string"/>
  <xs:element name="INSDFeature_location" type="xs:string"/>
  <xs:element name="INSDFeature_intervals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="INSDInterval"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSDFeature_operator" type="xs:string"/>
  <xs:element name="INSDFeature_partial5">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.INSDFeature_partial5"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.INSDFeature_partial5">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="INSDFeature_partial3">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.INSDFeature_partial3"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.INSDFeature_partial3">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="INSDFeature_quals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="INSDQualifier"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSDInterval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="INSDInterval_from"/>
        <xs:element minOccurs="0" ref="INSDInterval_to"/>
        <xs:element minOccurs="0" ref="INSDInterval_point"/>
        <xs:element minOccurs="0" ref="INSDInterval_iscomp"/>
        <xs:element minOccurs="0" ref="INSDInterval_interbp"/>
        <xs:element ref="INSDInterval_accession"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSDInterval_from" type="xs:string"/>
  <xs:element name="INSDInterval_to" type="xs:string"/>
  <xs:element name="INSDInterval_point" type="xs:string"/>
  <xs:element name="INSDInterval_iscomp">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.INSDInterval_iscomp"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.INSDInterval_iscomp">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="INSDInterval_interbp">
    <xs:complexType>
      <xs:attributeGroup ref="attlist.INSDInterval_interbp"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.INSDInterval_interbp">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="INSDInterval_accession" type="xs:string"/>
  <xs:element name="INSDQualifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="INSDQualifier_name"/>
        <xs:element minOccurs="0" ref="INSDQualifier_value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="INSDQualifier_name" type="xs:string"/>
  <xs:element name="INSDQualifier_value" type="xs:string"/>
  <xs:element name="INSDSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="INSDSeq"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
