libs/converter/biodom/resources/xsd/net/sourceforge/hobit/20060505/sequenceAnnotationML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- sequenceAnnotationML Version 1.1 
      last edited on 2006 05 05 by Knut Schwarzer (UKG Abteilung Bioinformatik) -->
<!-- edited  by  Knut Schwarzer (UKG Abteilung Bioinformatik)-->
<!-- edited by Andreas Kuntzagk (MDC-Berlin) -->
<!-- created  by  Knut Schwarzer (UKG Abteilung Bioinformatik)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:seq="http://hobit.sourceforge.net/xsds/20060201/sequenceML" xmlns:bt="http://schemas.bioservices.net/2005/biotypes" xmlns:hobit="http://hobit.sourceforge.net/xsds/20060403/hobitTypes" xmlns="http://hobit.sourceforge.net/xsds/20060505/sequenceAnnotationML" xmlns:anno="http://hobit.sourceforge.net/xsds/20060505/sequenceAnnotationML" targetNamespace="http://hobit.sourceforge.net/xsds/20060505/sequenceAnnotationML" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- import statements with global schemaLocation -->
         <xs:import namespace="http://hobit.sourceforge.net/xsds/20060201/sequenceML" schemaLocation="http://hobit.sourceforge.net/xsds/20060201/sequenceML.xsd"/>
         <xs:import namespace="http://schemas.bioservices.net/2005/biotypes" schemaLocation="http://schemas.bioservices.net/2005/biotypes_1.1.xsd"/>
         <xs:import namespace="http://hobit.sourceforge.net/xsds/20060403/hobitTypes" schemaLocation="http://hobit.sourceforge.net/xsds/20060403/hobitTypes.xsd"/>
    <!--  Definitions   -->
    <!--  Root Element -->
    <xs:element name="sequenceAnnotation" type="sequenceAnnotationType" nillable="true">
        <xs:annotation>
            <xs:documentation>root element containing all information concerning one annotated sequence</xs:documentation>
        </xs:annotation>
    </xs:element>
    <!--Complex Types -->
    <xs:complexType name="sequenceAnnotationType">
        <xs:annotation>
            <xs:documentation>root Type; Basic description of the annotated sequence, basis for featureType</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sequence" type="seq:sequenceType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Information about the annotated sequence</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="organism" type="organismType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Species the sequence is derived from. Prefered is to fill out
                        the attribute taxid. Otherwise use genus species [subspecies] [cell line].
                        "artificial" or "unknown" are allowed as well.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="location" type="locationType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>position of the sequence relative to the specified context (see coordinate system and position0)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="featureSet" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>AnnotatedFeature or group of (nested)
                    features.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="feature" type="featureType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="version" type="bt:version" use="optional">
            <xs:annotation>
                <xs:documentation>sequenceAnnotationML version</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute/>
    </xs:complexType>
    <xs:complexType name="organismType">
        <xs:annotation>
            <xs:documentation>Species the sequence is derived from. Prefered is to fill out the attribute taxid. Otherwise use genus species [subspecies] [cell line]. "artificial" or "unknown" are allowed as well.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="taxid" type="xs:positiveInteger" use="optional">
                    <xs:annotation>
                        <xs:documentation>Taxonomy Identifier from 'NCBI Entrez Taxonomy'
http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?db=Taxonomy 
Prefered Method to identify Species</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="lsid" type="bt:lsid" use="optional">
                    <xs:annotation>
                        <xs:documentation>Link with an Life Science Identifier entry to NCBI Entrez Taxonomy</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="locationType">
        <xs:sequence>
            <xs:element name="position" type="positionType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>sometimes a feature is correlated to more than one position
                        (e.g. splicing). In this case use this combination of more then one
                        position.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="coordinateSystem" use="required">
            <xs:annotation>
                <xs:documentation>Specification of the coordinate system of the
                position.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="1st NT of Chr X">
                        <xs:annotation>
                            <xs:documentation>first nucleotide of Chromsome X (X has to be given in chromosomeName)</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="1st NT of Exon X">
                        <xs:annotation>
                            <xs:documentation>first nucleotide of Exon X of the current Gen (X has to be given in exonName)</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="TSS">
                        <xs:annotation>
                            <xs:documentation>Transcriptional start side</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="ATG">
                        <xs:annotation>
                            <xs:documentation>Start codon</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="reference">
                        <xs:annotation>
                            <xs:documentation>relative to some other location in this document (the other location has to be given in positionRef)</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="other">
                        <xs:annotation>
                            <xs:documentation>other description of position 0 (should be given in
                                position0)</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="definitionForOther" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Additional Information to coordinateSystem Number of
                    Chromosom/Exon or freetext description</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="positionType">
        <xs:attribute name="start" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Number of the first Base/AS of the sequence relativ to the coordinateSystem</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="end" type="xs:int" use="optional">
            <xs:annotation>
                <xs:documentation>Number of the last Base/AS of the sequence relativ to the coordinateSystem</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="strand" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Strand of the sequence</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="chromosomeName" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Specification of the chromosome number</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="exonName" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>Specification of the number of the exon. Required if coordinateSystems = '1st NT of Exon X'</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="positionID" type="bt:accessionNumber" use="optional">
            <xs:annotation>
                <xs:documentation>needed for referencing</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="positionRef" type="bt:accessionNumber" use="optional">
            <xs:annotation>
                <xs:documentation>Reference to an other position start / end count relative to the starting position of that sequence</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="featureType">
        <xs:complexContent>
            <xs:extension base="sequenceAnnotationType">
                <xs:sequence>
                    <xs:element name="name" type="xs:string" minOccurs="0"/>
                    <xs:element name="synonym" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="description" type="xs:string" minOccurs="0"/>
                    <xs:element name="annotationSource" type="annotationSourceType" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="additionalInformation" type="additionalInformationType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>Any type of property not listet elsewhere.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="featureType" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>Classification of the feature </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="featureID" type="bt:accessionNumber" use="optional">
                    <xs:annotation>
                        <xs:documentation>Individual id for each feature. Required if you want to link to
                    this FeatureSet (see featureRef)</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="featureRef" type="bt:accessionNumber" use="optional">
                    <xs:annotation>
                        <xs:documentation>Reference, pointing to another FeatureSet
                entry.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="annotationSourceType">
        <xs:annotation>
            <xs:documentation>Source the annotation was accrued from.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="program" type="hobit:programType">
                <xs:annotation>
                    <xs:documentation>Use this if the annotation is the output of a program</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="literature" type="literatureType" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Use this if a paper is the source of the annotation</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="onlineRessource" type="onlineRessourceType">
                <xs:annotation>
                    <xs:documentation>use this if the information derives from a website or online database</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="literatureType">
        <xs:choice>
            <xs:element name="PubMed" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation>Prefered method to provide a citation</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="weblink" type="xs:anyURI"/>
            <xs:sequence>
                <xs:annotation>
                    <xs:documentation>Use this if you want to provide a full citation or the Paper is not referable by one of the other methods</xs:documentation>
                </xs:annotation>
                <xs:element name="authors" type="xs:string"/>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="journal" type="xs:string" minOccurs="0"/>
                <xs:element name="volume" type="xs:string" minOccurs="0"/>
                <xs:element name="issue" type="xs:string" minOccurs="0"/>
                <xs:element name="year" type="xs:gYear" minOccurs="0"/>
                <xs:element name="pages" type="xs:string" minOccurs="0"/>
                <xs:element name="publisher" type="xs:string" minOccurs="0"/>
                <xs:element name="isbn" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="onlineRessourceType">
        <xs:choice>
            <xs:element name="lsid" type="bt:lsid"/>
            <xs:element name="database">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dbName" type="xs:string"/>
                        <xs:element name="entryID" type="bt:accessionNumber"/>
                        <xs:element name="dbURL" type="xs:anyURI" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="URL" type="xs:anyURI"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="additionalInformationType">
        <xs:annotation>
            <xs:documentation>Use this type value pairs for informations not fitting elsewhere additionaly you can add the source of the information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="value" type="xs:string"/>
            <xs:element name="annotationSource" type="annotationSourceType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
